<%- include("partials/header.ejs") %>
                    <div class="toolbar" id="kt_toolbar">
                        <div class="swiper banner-main">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="bgi-no-repeat bgi-center w-100" src="https://s199.imacdn.com/vg/2023/04/05/d30f36dae1db8df6_9694af22c814b11f_27195616806807046118684.jpg">
                                </div>
                                <div class="swiper-slide">
                                    <img class="bgi-no-repeat bgi-center w-100" src="https://s199.imacdn.com/vg/2022/12/30/dc97794921f5a86c_562089b843921847_9824816723858726118684.jpg">
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!--<div class="swiper-pagination"></div>-->
                        </div>
                    </div>
                    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-fluid">
                        <div class="content flex-row-fluid" id="kt_content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="fw-bolder fs-1 pt-0 pb-1">Đề xuất hot</div>
                                    <div class="row slider responsive">
                                        <div class="col-lg-1 item mb-5 p-3">
                                            <a class="position-relative rounded" href="">
                                                <figure class="rounded">
                                                    <img class="bgi-no-repeat bgi-center w-100" src="https://image.tmdb.org/t/p/w1280/ziEuG1essDuWuC5lpWUaw1uXY2O.jpg">
                                                </figure>
                                                <div class="icon_overlay"></div>
                                                <div class="halim-post-title-box">
                                                    <div class="halim-post-title">
                                                        <h2 class="text-gray-800">Thế Giới Hoàn Mỹ</h2>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<%- include("partials/footer.ejs") %>