<%- include("partials/header.ejs") %>
                    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-fluid">
                        <div class="content flex-row-fluid" id="kt_content">
                            <div class="row" id="list_search">
                                <div class="col-lg-12">
                                    <div class="d-flex text-center" style="margin-top: 250px; place-content: center;">
                                        <span class="spinner-border text-success fs-5 me-3" role="status"></span>
                                        <span class="fs-2 align-items-center ">Đang tìm kiếm...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<%- include("partials/footer.ejs") %>
<script>
    $.ajax({
        url: "/ajax/search/<%= page %>/<%= search %>",
        type: "GET",
        success: (data) => {
            $("#list_search").html(data);
        }
    });
</script>