<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/assets/jwplayer/jwplayer-8.26.0.js"></script>
    <script src="/assets/jwplayer/hls.min.js"></script>
    <script src="/assets/jwplayer/jwplayer.hlsjs.min.js"></script>
    <script>jwplayer.key="9p36CV6QmJmdYet7lLcp40o+0GE3J0gMCjTZwO9/mNM=";</script>
</head>
<body>
    <style>
        #player {
            position: absolute;
            width: 100% !important;
            height: 100% !important;
        }
        .jwplayer.jw-flag-rightclick-open {
            overflow: hidden !important;
        }
        .jw-title {
            padding-top: 0px;
        }
        .jwplayer.jw-skin-netflix .jw-title-primary {
            text-transform: initial;
        }
        .jw-breakpoint-7:not(.jw-flag-audio-player) .jw-controlbar .jw-button-container {
            padding: 0 35px 20px !important;
        }
    </style>
    <div id="player"></div>
    <script>
    const playerInstance = jwplayer("player").setup({
        controls: true,
        sharing: false,
        primary: 'html5',
        playbackRateControls: true,
        displaytitle: true,
        displaydescription: true,
        bufferlength: 10, // Độ dài của bộ đệm tải trước đó được phát trước khi trình phát phim bắt đầu phát video.
        maxbufferlength: 30, // Độ dài tối đa của bộ đệm trước khi trình phát phim bắt đầu bỏ qua các khung video.
        bufferahead: 30, //Độ dài của bộ đệm tải trước đó được phát tiếp theo khi video đang được phát.
        abouttext: "Donate Ủng Hộ",
        aboutlink: "https://www.facebook.com/ltn.igl/",
    
        skin: {
            url:"/assets/skin/netflix.css?v=5",
            name: "netflix"
        },
    
        captions: {
            color: "#FFF",
            fontSize: 14,
            backgroundOpacity: 0,
            edgeStyle: "raised"
        },
    
        playlist: [
            {

                title: "<%= film.title %> <% if (film.type != "single") { %> - Tập <%= film.episode %><% } %>",

                description: "Bạn đang xem",
                image: "<%= film.poster_url %>",
                sources: [
                    {
                    file:
                        "<%= film.m3u8 %>",
                        label: "1080p",
                        default: true
                    }
                ],
                captions: [
                    {
                        file: "",
                        label: "Việt Sub",
                        kind: "captions",
                        default: true
                    }
                ],
            }
        ],

        events: {
            // sự kiện 'time' được kích hoạt mỗi khi thời gian phát thay đổi
            time: function(event) {
                // lưu giá trị của currentTime vào cookie với tên cookie là "currentTime_<title>" 
                // với <title> là tên của tập phim hiện tại
                document.cookie = "currentTime_" + playerInstance.getPlaylistItem()['title'] + "=" + event.currentTime.toFixed(2) + "; path=/";
            },
            // sự kiện 'ready' được kích hoạt khi jwplayer đã sẵn sàng để sử dụng
            ready: function(event) {
                // đọc giá trị của currentTime từ cookie với tên cookie là "currentTime_<title>"
                // với <title> là tên của tập phim hiện tại
                const cookieName = "currentTime_" + playerInstance.getPlaylistItem()['title'];
                const cookieValue = document.cookie.match('(^|;)\\s*' + cookieName + '\\s*=\\s*([^;]+)');
                if (cookieValue) {
                    const currentTime = parseFloat(cookieValue.pop());
                    // chuyển đến thời gian currentTime nếu giá trị của currentTime hợp lệ
                    if (!isNaN(currentTime)) {
                    playerInstance.seek(currentTime);
                    }
                }
            }
        }

    });

    playerInstance.on("ready", function () {
        // Move the timeslider in-line with other controls
        const playerContainer = playerInstance.getContainer();
        const buttonContainer = playerContainer.querySelector(".jw-button-container");
        const spacer = buttonContainer.querySelector(".jw-spacer");
        const timeSlider = playerContainer.querySelector(".jw-slider-time");
        buttonContainer.replaceChild(timeSlider, spacer);
    
        // Detect adblock
        playerInstance.on("adBlock", () => {
            const modal = document.querySelector("div.modal");
            modal.style.display = "flex";
            
            document
            .getElementById("close")
            .addEventListener("click", () => location.reload());
        });
    
      // Forward 10 seconds
        const rewindContainer = playerContainer.querySelector(
            ".jw-display-icon-rewind"
        );
        const forwardContainer = rewindContainer.cloneNode(true);
        const forwardDisplayButton = forwardContainer.querySelector(
            ".jw-icon-rewind"
        );
        forwardDisplayButton.style.transform = "scaleX(-1)";
        forwardDisplayButton.ariaLabel = "Forward 10 Seconds";
        const nextContainer = playerContainer.querySelector(".jw-display-icon-next");
        nextContainer.parentNode.insertBefore(forwardContainer, nextContainer);
    
        // control bar icon
        playerContainer.querySelector(".jw-display-icon-next").style.display = "none"; // hide next button
        const rewindControlBarButton = buttonContainer.querySelector(
            ".jw-icon-rewind"
        );
        const forwardControlBarButton = rewindControlBarButton.cloneNode(true);
            forwardControlBarButton.style.transform = "scaleX(-1)";
            forwardControlBarButton.ariaLabel = "Forward 10 Seconds";
            rewindControlBarButton.parentNode.insertBefore(
            forwardControlBarButton,
            rewindControlBarButton.nextElementSibling
        );
    
        // add onclick handlers
        [forwardDisplayButton, forwardControlBarButton].forEach((button) => {
            button.onclick = () => {
                playerInstance.seek(playerInstance.getPosition() + 10);
            };
        });
    });
    </script>
</body>
</html>